.piece-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.25rem; /* p-1 */
  width: 100%;
  height: 100%;
  transition: transform 150ms ease-out, filter 150ms ease-out;
  z-index: auto;
}

.piece-container.moving {
  transform: scale(1.1) rotate(5deg);
  filter: brightness(1.2);
  z-index: 100;
  transition: transform 150ms ease-out, filter 150ms ease-out;
}

.piece-container.idle {
  transform: scale(1) rotate(0deg);
  filter: brightness(1);
  z-index: auto;
  transition: transform 200ms ease-in, filter 200ms ease-in;
}
