<div class="p-4 container mx-auto">

  <!-- Loader -->
  @if (chessService.isLoading()) {
    <app-spinner-game></app-spinner-game>
  }

  @if (!chessService.isLoading() && chessService.gameInitialized()) {
    <div class="container mx-auto grid gap-4">
      <!-- Información del juego -->
      <app-header-game 
        [currentTurn]="chessService.currentTurn()" 
        [totalMovements]="chessService.totalMovements()" 
        [whiteCaptures]="chessService.whiteCaptures()"
        [blackCaptures]="chessService.blackCaptures()">
      </app-header-game>

      <!-- Tablero de ajedrez extraído a chess-board -->
      <app-chess-board 
        [board]="chessService.board()" 
        [currentTurn]="chessService.currentTurn()" 
        [gameOver]="chessService.gameOver()">
      </app-chess-board>

      <!-- Historial de movimientos -->
      <app-history-game [moveHistory]="chessService.moveHistory()"></app-history-game>
    </div>
  }

  <!-- Modal de Victoria -->
  @if (chessService.showVictoryModal()) {
    <app-modal-game 
      [title]="'¡Partida finalizada!'" 
      [content]="chessService.winnerColor() === 'white' ? 'Ganan las blancas' : 
                  chessService.winnerColor() === 'black' ? 'Ganan las negras' : 
                  'Partida en tablas'" 
  (closeModal)="chessService.showVictoryModal.set(false)">
    </app-modal-game>
  }
</div>