<div class="p-4 container mx-auto">

  <!-- Loader -->
  @if (chessService.isLoading()) {
  <app-spinner-game />
  }

  @if (!chessService.isLoading() && chessService.gameInitialized()) {
  <div class="container mx-auto grid gap-4">

    <!-- <app-header-game [currentTurn]="chessService.currentTurn()" [totalMovements]="chessService.totalMovements()"
      [whiteCaptures]="chessService.whiteCaptures()" [blackCaptures]="chessService.blackCaptures()" /> -->

    <app-chess-board [(board)]="board" [(currentTurn)]="currentTurn" [(gameOver)]="gameOver" />


    <!-- <app-history-game [moveHistory]="chessService.moveHistory()" /> -->
  </div>
  }


  @if (chessService.victoryModalData().open) {
  <app-modal-game [modalData]="chessService.victoryModalData()"
    (closeModal)="chessService.showVictoryModal.set(false)" />

  }
</div>